<div class="container-fluid bg-image">
    <div class="row">
        <div class="col-md-6 mt-3">
            <button class="btn btn-primary m-4 p-3" routerLink="/invoice/create-invoice">Create Invoice</button>
        </div>
        <div class="col-md-6">
            <app-login style="float: right;" class="m-4"></app-login>
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <button class="btn btn-warning p-5">Products Count : {{this.productCount}} </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-warning p-5">Retailers Count : {{this.retailerCount}}</button>
        </div>
        <div class="col-md-3"></div>
    </div>
</div> -->