<div class="container-fluid bg-color">
    <h1 class="heading">Welcome Admin !!!</h1>

    <h5 class="heading pb-4">Pharmacy Management App</h5>

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <button class="btn btn-warning p-5">Products Count : {{productCount}} </button>
            </div>
            <div class="col-md-3">
                <p class="btn btn-warning p-5">Retailers Count : {{retailerCount}}</p>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>