.add-product-button{
    background-color: #04ff89;
    border: none;
    padding: 10px 30px;
    margin: 10px 0px 0px 10px ;
    color : #6302ff
}
.error{
    color: red;
}
input.ng-invalid.ng-touched{
    border : 1px solid red
}

input.ng-valid.ng-touched{
    border : 5px solid green
}